@import "tailwindcss";

:root {
  --foreground: #171717;
}

/* ✅ Força o fundo a não ser preto, nem no html nem no body */
html,
body {
  background: transparent !important;
  color: var(--foreground);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
